{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container-fluid px-0 ">
    <img src="/static/purple_sky.jpg" width="1200" height="500" class="d-block w-100" alt="...">
    <h1 class="text-center">About Us</h1>
</div>
<div class="text-center">
    <a href="https://www.youtube.com/watch?v=JxzZxdht-XY&t=4742s">
        <button type="button" style="margin-bottom:10px" class="btn btn-outline-danger">Django One Video</button>
    </a>
</div>

{% endblock body %}
